.Layout-middle {
  height: calc(100vh - 70px);
  background-color: transparent;
  .sider {
    padding: 0 18px;
    height: 100%;
    .menu {
      margin-top: 8px;
      .menu-item {
        margin-bottom: 10px !important;
      }
    }
  }
  .content {
    padding: 8px;
    height: 100%;
    background-color: #ffffff;
  }
}