.main-box {
  height: 100vh;
  background-color: #fcfcfc;

  .login-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 500px;

    .login-title {
      margin-bottom: 30px;
      font-size: 21px;
      background-color: #8993ae;
      height: 60px;
      line-height: 60px;
      color: #fff;

      .title {
        margin-left: 80px;
      }
    }

    .login-form {
      padding: 20px 80px 10px;

      .function-box {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .toggle-btn {
          margin-top: 6px;
          font-size: 14px;
          color: #575757;
          cursor: pointer;
        }
      }
    }
  }
}