.StoTable-edit-modal {
  .ant-modal-container {
    padding-top: 20px;
    width: 500px;
  }
  .form {
    margin-top: 10px;
    .ant-btn {
      margin-left: 200px;
    }
  }
  .warning-name-edit {
    color: rgb(255, 75, 75);
  }
}

.StoTable-delete-modal {
  p {
    color: rgb(255, 75, 75);
  }
}

.StoTable-detail-modal {
  .ant-modal-body {
    .edit-btn {
      margin-left: 10px;
      font-size: 11px;
    }
  }
}

.StoTable-edit-modal {
  .ant-modal-container {
    width: 520px;
  }
  .ant-btn {
    margin-left: 410px;
    margin-top: 10px;
  }
}
