.StoTable-edit-modal {
  .ant-modal-container {
    width: 500px;
  }
  .form {
    padding-top: 20px;
    .ant-btn {
      margin-left: 200px;
    }
  }
}

.StoTable-delete-modal {
  p {
    color: rgb(255, 75, 75);
  }
}
