.Protable-adjust-modal {
  .ant-modal-container {
    width: 400px;
  }
  .adjust-form {
    padding-top: 20px;
  }
  .ant-input-number {
    width: 148px;
  }
  .ant-btn {
    margin-left:84px;
  }
}
