.ProUpload {
  height: 100%;
  .ProUpload-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 40px;
    background-color: #fff;
    color: rgb(44, 44, 44);
    border-bottom: 1px solid #e5e5e5;
    .warehouse-info {
      display: flex;
      margin-right: 50px;
      border-radius: 5px;
      div:nth-child(2) {
        margin-left: 20px;
      }
      div {
        padding: 4px 20px;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        background-color: #f4f4f4;
        color: #444444;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
      div:hover {
        background-color: #e5e5e5;
        transform: translateY(-3px);
      }
    }
  }

  .main {
    display: flex;
    height: calc(100vh - 67px);
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    padding: 10px;

    .left {
      margin-right: 10px;
      background-color: #fafafa;
    }

    .right {
      flex: 1;
      .query-bar {
        padding: 16px 0 6px 14px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        background-color: #fafafa;
        .ant-form-item {
          margin-bottom: 10px;
          .ant-input,
          .ant-input-number {
            width: 130px;
          }
          .ant-btn {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.ProUpload-adjust-modal {
  .ant-modal-container {
    transform: translateX(75px);
    width: 370px;
    .ant-form {
      margin-top: 20px;
      .type-select {
        width: 190px;
      }
      .ant-input-number {
        width: 190px;
      }
      .ant-btn {
        margin-right: 10px;
      }
    }
  }
}
