.EditDescription-detail-modal {
  .ant-modal-body {
    p {
      height: 32px;
      line-height: 32px;
    }
    .edit-btn {
      margin-left: 10px;
      font-size: 11px;
    }
  }
}

.EditDescription-edit-modal {
  .ant-modal-container {
    width: 520px;
  }
  .ant-btn {
    margin-left: 410px;
    margin-top: 10px;
  }
}
