.FunctionBar-function-bar {
  padding: 14px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  background-color: rgb(250, 250, 250);

  .ant-form-item {
    margin-bottom: 10px;
  }

  .word-input {
    width: 160px;
  }
  .type-select {
    width: 116px;
  }
}